body{
    margin: 0;
    display: grid;
    grid-template-areas: 'navbar navbar navbar navbar'
                         'section section aside aside'
                         'div div div div';
                         
    grid-template-rows: 20vh 70vh 40vh;
    
  }
  
  nav{
    grid-area: navbar;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  nav a{
    color:white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 16pt;
    
    
    
  }
  
  
  
  
  nav img{
    width: 50px;
    height: 50px;
    flex-direction: row;
    
  }
  
  
  
  section{
    grid-area: section;
    background-color: whitesmoke; 
  }


   section input{
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: space-between;
    margin-top: 10px;
    width: 300px;
   }

   section button{
    display:flex; 
    border-radius: 5px;
    height: 50px;
    width: 60px;
    cursor: pointer;

   }


  aside{
    grid-area: aside;
    background-color: whitesmoke; 
    
  }
  aside input{
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 10%;
    justify-content: space-between;
    margin-top: 30px;
    width: 400px;
      
  }

  aside button{
    display:flex; 
    border-radius: 5px;
    height: 50px;
    width: 60px;
    cursor: pointer;

  }

  aside img {
      height: 50px;
      width: 50px;
      justify-content: space-around;
      
  }
  
  
  div{
    grid-area: div;
    background-color: whitesmoke; 
    
  }
  
 
 
  
  
   section, aside, div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  
  @media(max-width: 768px){
    body{
      grid-template-areas: 'navbar navbar navbar navbar'
                           'section section aside aside '
                           'div div div div';
                           
      grid-template-rows: 20vh 70vh 70vh 40vh;              
    }
    nav a{ 
      display: none;
    }
    nav img{
      display: block;
      width: 50px;
    }
  }
  
  @media(max-width:425px){
    body{
      grid-template-areas: 'navbar navbar navbar navbar'
                           'section section section section'
                           'aside aside aside aside'
                           'div div div div';
                           
      grid-template-rows: 20vh 70vh 70vh 70vh 70vh 40vh;
    }
  }

